<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lynx.ssm.dao.IPermissionDao">

	<!--查找所有权限-->
	<select id="findAll" parameterType="String" resultType="com.lynx.ssm.domain.Permission">
		select * from PERMISSION
	</select>

	<insert id="save">
		insert into permission(permissionName,url) values(#{permissionName},#{url})
	</insert>


</mapper>